<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		{% seo title=false %}
		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
		<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!--[if lt IE 8]>
			<link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
		<![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>Downloads | Cemu Graphic Pack</title>
		
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
		<link rel="manifest" href="/assets/site.webmanifest">
		<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="apple-mobile-web-app-title" content="Cemu Graphic Packs">
		<meta name="application-name" content="Cemu Graphic Packs">
		<meta name="msapplication-TileColor" content="#e3e3e3">
		<meta name="theme-color" content="#ebebeb">
	</head>
	<body>
		<div id="header">
			<nav>
				<li class="fork" style="position: absolute; left: 12px;"><a href="{{ site.github.repository_url }}" style="margin-left:6px;background-color: #434343;border-color: #191919;">Help us on Github!</a></li>
				<!-- Has the latest release link to fall back on, but if javascript and fetching is enabled and supported, the href will change -->
				<li class="downloads" style="max-width: 100% !important; float: left; font-size:14px;font-family:OpenSansLight,Helvetica Neue,Helvetica,Arial,sans-serif;line-height:50px;list-style:none;text-shadow:0px 1px 0px rgba(0,0,0,0.2);">
					<span style="margin-right: 6px;">Downloads:</span>
					<a id="commonDownloadButton" title="Recommended for most people. Includes all the popular resolutions." target="_self" href="{{ site.github.latest_release.assets[1].browser_download_url }}" style="margin-right:6px;">Common Resolutions</a>
					<a id="uncommonDownloadButton" target="_self" title="For experimental people. Includes everything from the common pack, but adds a bunch of other (suggested) resolutions." href="{{ site.github.latest_release.assets[0].browser_download_url }}">Uncommon Resolutions</a>
					<a id="releaseButton" target="_blank" href="https://github.com/slashiee/cemu_graphic_packs/releases" style="margin-left: 6px;background-color: #434343;border-color: #191919;">See past releases</a>
				</li>
			</nav>
		</div>
		<div class="wrapper">
			<section style="padding:30px 0 0 0 !important">
			<div id="title">
				<h1><strong>Cemu Graphic Packs</strong></h1>
				<p>{{ site.description | default: site.github.project_tagline }}</p>
				<hr>
				<span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
				<span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
			</div>
			{{ content }}
			</section>
		</div>

		<div style="height:100%;width:90%;margin:0 5% 0 5%;display:inline-block !important;">
			<div id="credits" style="font-size:0.7vw; display: flex; justify-content: center; flex-wrap: wrap;">
			{% for contributor in site.github.contributors %}
				<figure style="width: 80px; margin:5px 12px; text-align:center; padding:0;">
					<a href="https://github.com/slashiee/cemu_graphic_packs/commits?author={{contributor.login}}">
						<img src="{{contributor.avatar_url}}" alt="{{contributor.login}}'s avatar" style="width:100%; height=100%"/>
						<figcaption style="text-overflow: ellipsis; overflow: hidden;">{{contributor.login}}<br/></figcaption>
					</a>
					<p style="color:#c5c5c5; margin-bottom:0; font-size: 0.8em;">{{contributor.contributions}} commits</p>
				</figure>
			{% endfor %}
			</div>
		</div>
	</body>
</html>
